.app_dream {
  color: red;
  display: inline-block;
  width: 100%;
  background-color: #dcdcdc;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app_dream_by_sass{font-size:"30px";font-family:Arial,Helvetica,sans-serif}
@font-face {
  font-family: "iconfont"; /* Project id 4468621 */
  src: url(../font/iconfont.woff2) format("woff2"),
    url(../font/iconfont.woff) format("woff"), url(../font/iconfont.ttf) format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xing:before {
  content: "\e8d6";
}

.icon-xiaxue:before {
  content: "\e8d7";
}

.icon-xingxing:before {
  content: "\e8d8";
}

div[data-v-3a1b6d7a]{color:pink}
